body {
    padding-top: 80px; 
    padding-bottom: 20px;
}

 /*Set padding to keep content from hitting the edges*/
.body-content {
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
}

 /*Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column*/ 

.dl-horizontal dt {
    white-space: normal;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
} 